@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}
.title-shortcut {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shortcut {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shadow_primary{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.info-background{
    background-image: url("https://demo.templatesjungle.com/foodfarm/images/vegetablespattern.svg");
}
.policy-background{
    background-image: url("https://demo.templatesjungle.com/foodfarm/images/bg-vegetables.jpg");
    background-position: center;
}
/* customer radio */
.ant-radio-wrapper-checked .ant-radio-inner{
    background: rgb(107,178,82) !important;
    border: rgb(107,178,82) !important;
}
:where(.css-dev-only-do-not-override-5wsri9).ant-slider .ant-slider-track {
    box-shadow: 0 0 0 2px rgb(107,178,82) !important;
}
:where(.css-dev-only-do-not-override-5wsri9).ant-slider .ant-slider-track {
    background-color:  rgb(107,178,82);
    border-radius: 2px;
}
:where(.css-dev-only-do-not-override-5wsri9).ant-slider .ant-slider-handle::after {
    box-shadow: 0 0 0 2px  rgb(107,178,82);
}
:where(.css-dev-only-do-not-override-5wsri9).ant-slider .ant-slider-handle:focus::after{
    box-shadow: 0 0 0 2px  rgb(107,178,82);
}
:where(.css-dev-only-do-not-override-5wsri9).ant-slider:hover .ant-slider-track{
    background-color:  rgb(107,178,82);
}

/* panigation */
:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-item-active a {
    color:  rgb(107,178,82);
}
:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-item-active{
    border-color: rgb(107,178,82);
}
:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-item-active:hover {
    border-color: rgb(107,178,82);
}
:where(.css-dev-only-do-not-override-5wsri9).ant-pagination .ant-pagination-item-active:hover a{
    color:  rgb(107,178,82);
}

/*shadow*/
.shadow_form{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}